<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Newjueqi_Usehttps>
			<version>0.1.0</version>
		</Newjueqi_Usehttps>
	</modules>
	<global>
        <models>
            <usehttps>
                <class>Newjueqi_Usehttps_Model</class>
            </usehttps>   
            <usehttps_mysql4>
                <class>Newjueqi_Usehttps_Model_Mysql4</class>
            </usehttps_mysql4>            
            <core>
            	<rewrite>
            		<url>Newjueqi_Usehttps_Model_Core_Url</url>
            	</rewrite>
            </core>  
        </models>
        <helpers>
            <usehttps>
                <class>Newjueqi_Usehttps_Helper</class>
            </usehttps>
        </helpers>
        <blocks>
            <usehttps>
                <class>Newjueqi_Usehttps_Block</class>
            </usehttps>
        </blocks>
        <resources>
            <usehttps_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </usehttps_write>
            <usehttps_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </usehttps_read>
        </resources>         
	</global>
    <adminhtml>
        <layout>
            <updates>
                <usehttps>
                    <file>usehttps.xml</file>
                </usehttps>
            </updates>
        </layout>
        <translate>
            <modules>
                <Newjueqi_Usehttps>
                    <files>
                        <default>Newjueqi_Usehttps.csv</default>
                    </files>
                </Newjueqi_Usehttps>
            </modules>
        </translate>
    </adminhtml>
	<frontend>
		<routers>
			<usehttps>
				<use>standard</use>
				<args>
					<module>Newjueqi_Usehttps</module>
					<frontName>usehttps</frontName>
				</args>
			</usehttps>
		</routers>
        <layout>
            <updates>
                <usehttps>
                    <file>usehttps.xml</file>
                </usehttps>
            </updates>
        </layout>   
        <translate>
            <modules>
                <Newjueqi_Usehttps>
                    <files>
                        <default>Newjueqi_Usehttps.csv</default>
                    </files>
                </Newjueqi_Usehttps>
            </modules>
        </translate>
	</frontend>
</config> 

